<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kevinfunderburg.searchSDB</string>
	<key>category</key>
	<string>Search</string>
	<key>connections</key>
	<dict>
		<key>6E3C60C8-F49A-48CC-887E-D095BC2B7361</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>261D918D-757D-47F8-95BE-419F7A872AA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7757C7C6-75D6-4866-906E-09F45C4A93EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95ED6FF4-8200-40CF-84F6-6187C71DB82D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD00A8DA-13DD-4597-9FF7-C701FA9ACB82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E3C60C8-F49A-48CC-887E-D095BC2B7361</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C729128-E683-4BAE-BE77-CBBC8E3BFE1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7757C7C6-75D6-4866-906E-09F45C4A93EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95ED6FF4-8200-40CF-84F6-6187C71DB82D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F9464E-C86F-4653-AA8A-E2D9D05BB0C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9815A6AD-CB75-42DD-93A4-E53B45A75ACE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C729128-E683-4BAE-BE77-CBBC8E3BFE1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A697B8FC-8EAE-4641-AA7F-C23CA33C83CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7757C7C6-75D6-4866-906E-09F45C4A93EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD00A8DA-13DD-4597-9FF7-C701FA9ACB82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E17EF1D6-CCB7-425F-BF38-92B9DB446693</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Search the clippings of Script Debugger</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Script Debugger - Search Clippings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>recursive</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D1F9464E-C86F-4653-AA8A-E2D9D05BB0C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:isLeaf}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>95ED6FF4-8200-40CF-84F6-6187C71DB82D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>recursive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9815A6AD-CB75-42DD-93A4-E53B45A75ACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>thePath</key>
					<string>{query}</string>
					<key>varArg</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7C729128-E683-4BAE-BE77-CBBC8E3BFE1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript clickMenu.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E17EF1D6-CCB7-425F-BF38-92B9DB446693</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;clip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting clippings...</string>
				<key>script</key>
				<string>/usr/bin/python getClips.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>insert all Script Debugger clippings</string>
				<key>title</key>
				<string>Get script debugger clippings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7757C7C6-75D6-4866-906E-09F45C4A93EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:isLeaf}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DD00A8DA-13DD-4597-9FF7-C701FA9ACB82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.latenightsw.ScriptDebugger7</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A697B8FC-8EAE-4641-AA7F-C23CA33C83CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>261D918D-757D-47F8-95BE-419F7A872AA7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/Users/kevinfunderburg</string>
				<key>replacestring</key>
				<string>/Users/kevinfunderburg/Dropbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6E3C60C8-F49A-48CC-887E-D095BC2B7361</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>261D918D-757D-47F8-95BE-419F7A872AA7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>6E3C60C8-F49A-48CC-887E-D095BC2B7361</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7757C7C6-75D6-4866-906E-09F45C4A93EB</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7C729128-E683-4BAE-BE77-CBBC8E3BFE1D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>95ED6FF4-8200-40CF-84F6-6187C71DB82D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9815A6AD-CB75-42DD-93A4-E53B45A75ACE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A697B8FC-8EAE-4641-AA7F-C23CA33C83CF</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D1F9464E-C86F-4653-AA8A-E2D9D05BB0C9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DD00A8DA-13DD-4597-9FF7-C701FA9ACB82</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E17EF1D6-CCB7-425F-BF38-92B9DB446693</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>none</string>
</dict>
</plist>
